<h1>Editing schedule</h1>

<%= render 'form' %>

<%= link_to 'Show', schedule_plan_schedules_path(params[:schedule_plan_id], @schedule) %> |
<%= link_to 'Back', schedule_plan_schedules_path(params[:schedule_plan_id]) %>
